Command(
    name: "Show Text",
    // Multi commands implies that the command is just text
    // 401 is the continuation id
    kind: Multi(
        cont: 401,
        is_ruby: false,
    ),
    color: Color32((237, 237, 237, 255))
)