Command(
  name: "Conditional Branch",
  kind: Branch(
    parameters: [
      
    ],
    branches: [
      Branch(
        code: 411, // Else
        name: "Else",
        condition: Condition(
          // no idea what index the else is
          parameter: 0, // the parameter index of the condition
          kind: IsTrue,
        )
      )
    ],
    terminator: Terminator(
      code: 412, // End Branch
      name: "End Branch"
    ),
    command_contains_branch: true,
  ),
  color: Color32((45, 155, 252, 255))
)