Command(
  name: "Conditional Branch",
  kind: Branch(
    parameters: [
      Parameter(
        index: 0,
        // selector is a map of the possible values to parameters
        kind: Selector([
          [
            Parameter(
              index: 1,
              kind: Switch,
            ),
            Parameter(
              index: 2,
              kind: IntBool,
            )
          ],
          [
            Parameter(
              index: 1,
              kind: Variable,
            ),
            Parameter(
              index: 4,
              kind: Enum([
                "Equal to",
                "Greater than or Equals to",
                "Less than or Equals to",
                "Greater than",
                "Less Than",
                "Not Equal"
              ]),
            ),
            Parameter(
              index: 2,
              kind: Selector([
                [
                  Parameter(
                    index: 3,
                    kind: Int,
                  )
                ],
                [
                  Parameter(
                    index: 3,
                    kind: Variable,
                  )
                ]
              ])
            )
          ],
          [
            Parameter(
              index: 1,
              kind: SelfSwitch,
            ),
            Parameter(
              index: 2,
              kind: IntBool,
            )
          ],
          [

          ]
        ]),
      )
    ],
    branches: [
      Branch(
        code: 411, // Else
        name: "Else",
        condition: Condition(
          // no idea what index the else is
          parameter: 0, // the parameter index of the condition
          kind: IsTrue,
        )
      )
    ],
    terminator: Terminator(
      code: 412, // End Branch
      name: "End Branch"
    ),
    command_contains_branch: true,
  ),
  color: Color32((45, 155, 252, 255))
)